body {
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}
#index-main {
    max-width: 800px;
    margin: 0 auto;
}
div#banner { 
    position: absolute; 
    top: 0; 
    left: 0; 
    background-color: pink; 
    width: 100%;}
header, footer {
    background-color: red;
    color: white;
    padding: 8px;
    border-radius: 15px;
}
header h1 {
    font-size: 32px;
    font-family: 'Special Elite', cursive;
    padding-left: 95px;
}
main {
    padding:0 15px;
}
main h2 {
    border-bottom: 1px solid black;
    font-family: 'Special Elite', cursive;
}
.profile {
    box-shadow: 0 0 17px black;
}
footer a, footer a:link, footer a:visited, footer a:hover, footer a:active, footer a:focus {
    color: white;
}
footer a:hover {
    color: #DDD;
}
footer {
    clear:both;
    text-align:center;
}
footer p.legal {
    margin-bottom:9px;
    font-size:9px;
}
footer p.highlight {
    color: yellow;
    font-size: 8px;
    margin-top: 0;
}