nav {
    margin: 0 auto;
    max-width: 760px;
    background-color: skyblue;
}

nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: slategray;
}

.menu {
    list-style: none;
    text-align: center;
    padding: 0;
    background-color: skyblue;
}

.menu li:first-child {
    display: block;
}

.menu li {
    display: none;
    flex: 1 1 100%;
}

.menu a {
    display: block;
    color: black;
    padding: 0.75rem;
    text-align: center;
    text-decoration: none;
    border-top: 1px solid rgba(0,0,0,0.3);
}

.menu a:hover {
    color: lawngreen;
    background-color: rgba(0,0,0,0.4);
    font-weight: 700;
}

.menu .active a {
    background-color: rgba(0,0,0,0.2);
    color: white;
}

/*.responsive li {
    display: block;   
}*/


@media only screen and (min-width: 32.5em){
    nav button {
        display: none;
    }

    .menu {
        display: flex;
        margin-left: auto;
    }

    .menu a {
        border: none;
        border-right: 1px solid rgba(0,0,0,0.3);
        padding: .8rem 1rem;
    }

    .menu li:first-child {

    }

    .menu li {
        display: block;
        flex: 1 1 100%;
    }
}



@media only screen and (min-width: 64em){
    .menu li a {
        padding: .6rem 1rem;
    }

}