html {
    display: block;
    max-width: 960px;
    margin: 0 auto;
}

body {
    font-size: 16px;
    font-family: 'Special Elite', cursive;
}

header {
    margin: 0;
    background-color: rgb(255, 255, 255);
    display: flex;
    color: #900C3F;
}

nav {
    background-color: #C70039;
    padding: 1em;

}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    flex: 1 1 100%;
    text-align: center;
}

nav ul li a {
    color: black;
    font-size: 1rem;
}

nav ul li a:hover {
    color: #333;
    background-color: #FF5733;
    padding: 1em;
}

nav ul li.active a {
    color: #000;
    padding: 1em;
}

main {
    padding: 0 3%;
    min-height: 10rem;
}

footer {
    background-color: #C70039;
    color: black;
    padding: .2em;
    text-align: center;
}

h1 {
    color: #900C3F;
}

.tagline {
    color: #900C3F;
    margin-left: 6em;
}

.weathername {
    color: #900C3F;
    margin-left: 6em;
}

header {
    display: flex;
}



@media only screen and (max-width: 350px) {
    nav ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
    }
    p {
        font-size: 14px;
    }
    h1 {
        font-size: 18px;
    }
    h2 {
        font-size: 16px;
    }
    header img {
        width: auto;
        height: 100%;
    }
}